@import "tailwindcss";

:root {
  --primary-background: #1f2937;
  --success: #10b981;
  --warning: #fbbf24;
  --error: #ef4444;
}

* {
  font-family: "Russo One", monospace;
}

body {
  /* Tailwind's bg-gradient-to-b from-black to-gray-900 in vanilla CSS */
  background: linear-gradient(to bottom, black, #111827);
  min-height: 100vh; /* ensures it covers full screen height */
  margin: 0; /* remove default margin */
}

@theme {
  /* Define a primary color */
  --color-primary: #d09a13;

  /* Define a secondary color */
  --color-secondary: #1f2937;

  /* Define a muted color */
  --color-muted: #f4f4f4;

  /* Define a light color */
  --color-light: #f5e6c8;
}

/* toastStyles.css */
.toast-success {
  background-color: var(--success) !important;
  color: white !important;
  font-weight: bold;
  border-left: 6px solid #1e7e34;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
}

.toast-error {
  background-color: var(--error) !important;
  color: white !important;
  font-weight: bold;
  border-left: 6px solid #bd2130;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.toast-warning {
  background-color: var(--warning) !important;
  color: black !important;
  font-weight: bold;
  border-left: 6px solid #e0a800;
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.2);
}
